* {
  margin: 0;
  padding: 0;
}

.menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: space-evenly;
  list-style-type: none;

  color: #ff0000;
}

.home {
  text-decoration: none;
  color: #ff0000;
}

.nav {
  padding: 31.5px 0 31.5px 0;
}

.image {
  width: 100%;
  height: auto;
}

.header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  padding: 48px 0 38px 0;
  justify-content: center;

  color: #373737;
}

.main-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 0 67.5px 0 67.5px;
  text-align: center;
  letter-spacing: 2.4px;

  color: #373737;
}

.footer {
  padding: 66px 0 82px 0;
  display: flex;
  justify-content: center;
}

.button {
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px;

  background: #ff0000;
  border-radius: 4px;
  border: none;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  /* or 100% */

  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;

  color: #ffffff;
}

.button a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
}

.copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: right;
  letter-spacing: 2.4px;
  padding: 0 105px 29px 0;

  color: #373737;
}
